#text_col {
  color:white;
  font-size:20px;
}

#hero {
  width:100%;
  height:100vh;
  background-image:url("../../assets/img/dogs.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

@media (min-width: 768px) {
  #hero {
    background-image:url("../../assets/img/dogs.jpg");
    height:750px;
  }
}

#logo_esokia {
  height:60px;
  width:150px;
  border-radius:20px;
  background-color:transparent;
  color:transparent;
}

#text_col_1 {
  color:white;
}

#promo {
  text-align:left;
  padding:40px;
  margin-top:65px;
}

#promo .jumbotron {
  border-radius:20px;
  padding:40px;
  max-width:800px;
  background-color:rgba(255,255,255,0.0);
  margin:0 auto;
}

@media (min-width: 576px) {
  #promo .jumbotron {
    padding:20px;
  }
}

@media (min-width: 576px) {
  #promo {
    padding:20px;
  }
}

#agence_col {
  color:white;
  font-weight:bold;
  font-size:60px;
}

#digital_col {
  color:white;
}

.site-section {
  text-align:center;
  padding:70px;
}

#welcome p {
  max-width:800px;
  font-size:20px;
  margin:0 auto;
}

.site-section h1 {
  font-weight:normal;
  margin-bottom:30px;
  margin-top:60px;
}

#why {
  margin-top:-70px;
}

#image_web {
  height:50px;
}

#why .item h2 {
  font-weight:normal;
}

#why .item {
  margin-top:36px;
}

#why .item h2 {
  font-weight:normal;
  margin-top:13px;
  margin-bottom:28px;
  font-size:24px;
}

#read_col {
  color:rgb(26,181,247);
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color:rgba(0,0,0,0.9);
}

a:hover {
  color:#0056b3;
  background-color:rgb(12,176,246);
  text-decoration:underline;
}

a {
  color:#007bff;
  text-decoration:none;
  background-color:transparent;
  -webkit-text-decoration-skip:objects;
}

a {
  color:#007bff;
  text-decoration:none;
  background-color:transparent;
  -webkit-text-decoration-skip:objects;
}

#col_div {
  color:rgb(16,206,232);
}

#why_2 {
  margin-top:-150px;
}

#marg_top {
  margin-top:90px;
  background-color:rgb(6,108,121);
}

#col_ind {
  color:rgb(19,238,252);
  text-align:left;
}

#align_text_ind {
  text-align:left;
}

#read_more_ind {
  color:rgb(31,241,254);
  text-align:left;
  margin-top:40px;
}

#card_img {
  width:1000px;
}

#back_dr {
  background-color:black;
}

#height_img {
  height:280px;
}

#back_row_ind {
  background-color:rgb(154,145,145);
}

#card_height {
  height:282.5px;
  background-color:rgb(24,26,36);
}

#title_card {
  font-weight:normal;
  color:rgb(26,155,249);
  text-align:left;
}

#color_text {
  color:white;
  text-align:left;
}

#red_text {
  color:rgb(26,155,249);
}

#with_card {
  width:1800px;
}

#height_imag_mag {
  height:282px;
}

#card_bod_ing {
  height:526px;
}

#text_col_ing {
  color:rgb(16,174,242);
  font-weight:normal;
  text-align:left;
  font-size:40px;
}

#back_card_ing {
  background-color:rgb(18,22,39);
}

#color_text_card_ing {
  color:rgb(106,100,100);
  font-size:20px;
  margin-top:40px;
}

#color_read_ing_fin {
  color:rgb(16,174,242);
}

#welcome_p p {
  max-width:900px;
  font-size:20px;
  margin:0 auto;
}

#welcome_p h1 {
  font-weight:bold;
}

#input_emaim {
  width:600px;
  height:40px;
  margin-top:20px;
  background-color:rgba(242,242,242,0.42);
}

#id_btn {
  margin-top:30px;
}

#with_btn {
  width:200px;
  border-radius:10px;
}

#col_conta {
  color:rgb(29,198,252);
  cursor:pointer;
}

#col_text_ing_fin {
  color:#9d9d9d;
  font-size:15px;
  background-color:transparent;
}

#card_hei_fin {
  /*height:900px;*/
}

#margin_top_card {
  margin-top:57px;
}

#navcol-2 {
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color:rgba(0,0,0,.7);
}

#why_2 {
}

#col_text_card {
  color:white;
}

